<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testtv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/ic_banner_foreground"
        android:icon="@drawable/ic_channel_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_channel_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback">

        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.Browse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboard.OnboardingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.Browse"/>
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback"/>

    </application>

</manifest>